@import '~antd/dist/antd.css';


/*Whole Container*/


/*Background*/
#root {
  position: relative;
}

#particles-js
{
  background-color: #f6ecdf;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: -1;
  height: 100%;
}

/*buttons*/
.btn {
    color: #ffffff;
    background-color: #5CDB95;
    border-color: #5CDB95;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

/* Green */
.tiltBackUp {
    color: green;
}

.tiltBackUp:hover {
    background-color: #4CAF50;
    color: white;
}

/* Blue */
.info {
    color: dodgerblue;
}

.info:hover {
    background: #2196F3;
    color: white;
}

/* Orange */
.warning {
    color: orange;
}

.warning:hover {
    background: #ff9800;
    color: white;
}

/* Red */
.danger {
    color: red;
}

.danger:hover {
    background: #f44336;
    color: white;
}

/* Gray */
.default {
    color: black;
}

.default:hover {
    background: #e7e7e7;
}


.ant-btn-primary {
    color: #ffffff;
    background-color: #5CDB95;
    border-color: #5CDB95;
}
.ant-btn-primary:hover {
    color: #ffffff;
    background-color: #379683;
    border-color: #379683;
}
.ant-btn-primary:focus {
    color: #ffffff;
    background-color: #379683;
    border-color: #379683;
}
.ant-btn-default:hover {
  color: #5CDB95;
  border-color: #5CDB95;
}
.ant-btn-default:focus {
  color: #5CDB95;
  border-color: #5CDB95;
}

/*homepage*/
.title, #description, #listingsTitle {
  text-align: center;
  color:#5CDB95;
}
#description {
  font-size:4.5vh;
  margin-bottom: 10px;
}
.title {
  font-size: 12vh;
  margin-top: 5px;
  margin-bottom: -5px;
}